<div class="flex flex-col gap-y-4">
  <!-- top panel -->
  <div class="flex justify-between items-center">
    <div class="flex">
      <h3 class="font-bold">Panel de Control SCR</h3>
    </div>
    <div class="flex flex-col items-end">
      <span class="font-bold">17 de marzo de 2026</span>
      <span class="text-xs">Datos actualzados en tiempo real</span>
    </div>
  </div>

  <!-- indicadores -->
  <om-marquee animationDuration="40s">
    @for (card of indicadores; track $index) {
    <ng-template [omMarqueeItem]="card">
      <p-card [pt]="{
        root: { class: 'overflow-hidden'},
        body: { class: card.background ? 'bg-primary' : '' }
      }">
        <div class="flex flex-col gap-2 w-56 my-3">
          <span class="text-3xl font-extrabold" [ngClass]="card.color">
            @if (card.modeda) {
            <span>&dollar;</span>
            }
            <span>{{card.value | number }}</span>
          </span>
          <span class="text-sm font-semibold uppercase"
            [ngClass]="{'text-gray-200':card.background}">{{card.description}}</span>
        </div>
      </p-card>
    </ng-template>
    }
  </om-marquee>

  <div class="flex gap-2 flex-wrap">
    <!-- Grafico - Distribución horaria y valor -->
    <p-card class="w-full xl:w-[59%]">
      <p-chart
        type="line"
        [data]="graph_distribucion_hora_valor"
        [options]="options_distribucion_horaria"
        class="h-100" />
    </p-card>

    <!-- Tipo de actividades -->
    <p-card header="Top Actividades" class="w-full xl:w-[39%]">
      <p-table
        size="small"
        [scrollable]="true"
        scrollHeight="25rem"
        [value]="top_actividades">
        <ng-template #header>
          <tr>
            <th class="bg-surface-50! dark:text-surface-600!">ACTIVIDAD</th>
            <th class="bg-surface-50! dark:text-surface-600!">OS</th>
            <th class="bg-surface-50! dark:text-surface-600!">INGRESO</th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>{{ item.actividad }}</td>
            <td>{{ item.os }}</td>
            <td>
              <p-tag severity="success">${{ item.ingreso | number }}</p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <div class="flex gap-2 flex-wrap">
    <!-- Evolución Diaria -->
     <p-card header="Evolución Diaria (Clic para filtrar)" class="w-full xl:w-59%">
      <p-chart
        type="bar"
        [data]="evolucion_diaria"
        [options]="options_evolucion_diaria"
        class="h-100"/>
     </p-card>
    <!-- Rendimiento de brigada -->
    <p-card header="Rendimiento de Brigada" class="w-full xl:w-[39%]">
      <p-table
        size="small"
        [scrollable]="true"
        scrollHeight="25rem"
        [value]="rendimiento_brigada">
        <ng-template #header>
          <tr>
            <th class="bg-surface-50! dark:text-surface-600!">BRIGADA</th>
            <th class="bg-surface-50! dark:text-surface-600!">EFE</th>
            <th class="bg-surface-50! dark:text-surface-600!">F.PAGA</th>
            <th class="bg-surface-50! dark:text-surface-600!">FALLA</th>
            <th class="bg-surface-50! dark:text-surface-600!">TOTAL</th>
            <th class="bg-surface-50! dark:text-surface-600!">CAJA</th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>{{ item.brigada }}</td>
            <td>{{ item.efectivas }}</td>
            <td>{{ item.fallidas_pago }}</td>
            <td>{{ item.fallidas }}</td>
            <td>{{ item.total }}</td>
            <td>
              <p-tag severity="success">${{ item.caja | number }}</p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

